<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongbao.zhongbao">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".my.PersonalDataActivity"/>
        <activity android:name=".my.AddAdressActivity"/>
        <activity android:name=".my.PayActivity"/>
        <activity android:name=".my.AboutActivity"
           />
        <activity android:name=".my.HelpActivity"/>
        <activity android:name=".my.ZbRecordActivity"/>
        <activity android:name=".my.MyAdressActivity"/>
        <activity android:name=".my.MyBaskActivity"/>
        <activity android:name=".my.GetGoodsActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".login.FindPsdActivity"/>
        <activity android:name=".login.RegisterActivity"/>
        <activity android:name=".goods.GoodsDetailActivity"/>
        <activity android:name=".my.SystemNewsActivity"/>
        <activity android:name=".my.NewsDetailActivity"/>
        <activity android:name=".goods.NoviceActivity"/>
        <activity android:name=".home.XinpinActivity"/>
        <activity android:name=".home.SearchActivity"/>
        <activity android:name=".my.ShareActivity"
            android:theme="@style/Theme.Translucent"/>

        <activity android:name=".my.QrcodeActivity"
            android:theme="@style/Theme.Translucent"/>
        <activity android:name=".home.XianGouActivity"/>
        <activity android:name=".my.MyNumberActivity" />
        <activity android:name=".my.TAcenterActivity" />
        <activity android:name=".goods.DuihuanActivity"/>
        <activity android:name=".goods.BuyGoodsActivity"
            android:theme="@style/Theme.Translucent" />
    </application>

</manifest>